.homeContainer {
  width: 99%;
  height: 100px;

  margin: auto;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  background: linear-gradient(to right, #33ccff 0%, #3366ff 100%);

  transition: 0.5s;

  .kanbanIcon {
    width: 100px;
    height: 50px;
  }

  .titleContainer {
    transition: 1s;

    border-left: 2px solid black;
    .homeTitle {
      margin-left: 10px;

      align-self: center;
      font-family: Ubuntu, sans-serif;
      font-weight: 400;
      font-size: 2rem;
    }

    .homeSubTitle {
      margin-left: 10px;
      align-self: flex-end;
      font-family: Ubuntu, sans-serif;
      font-weight: 300;
      font-size: 1.5rem;
    }
  }
}

.homeContainer:hover {
  transition: 1s;
  padding-left: 20px;
}
